    .popup_preview-container_image {
        /*width: 100%;  */
        position: relative;
        max-width: 65vh;
        max-height: 65vh;
        margin: auto;
        visibility: visible;
        opacity: 1;
    }
    
    @media screen and (max-width:600px) {
        .popup_preview-container_image {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media screen and (max-width:550px) {
        .popup_preview-container_image {
            max-width: 450px;
        }
    }
    
    @media screen and (max-width:500px) {
        .popup_preview-container_image {
            max-width: 240px;
        }
    }