 .profile {
     display: flex;
     margin: 40px auto 50px;
     justify-content: center;
     align-content: center;
     max-width: 880px;
     color: #ffffff;
     width: 100%;
     flex-direction: row;
 }
 
 @media screen and (max-width: 750px) {
     .profile {
         flex-direction: column;
         margin: 38px auto 0px;
         width: 90%;
         align-items: center;
     }
 }
 
 @media screen and (max-width: 406px) {
     .profile {
         max-width: 282px;
         margin-top: 42px;
         margin-bottom: 0;
         margin-left: auto;
         margin-right: auto;
     }
 }