.button_type_exit-preview {
    background: url(../../../images/Close-Icon.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    /**/
    right: -40px;
    top: 0;
    cursor: pointer;
    border: none;
    margin-bottom: 560px;
    position: absolute;
    /**/
    /*  padding: 0;*/
    /*right: -240px;
     top: -60px; */
    /* margin-left: 550px;
    margin-bottom: 5px;
         position: relative; */
}

.button_type_exit-preview:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .button_type_exit-preview {
        width: 26px;
        height: 26px;
        right: 96px;
        margin-top: auto;
        position: unset;
        margin-right: -30px;
        margin-bottom: 2px;
        margin-left: 550px;
    }
}

@media screen and (max-width: 650px) {
    .button_type_exit-preview {
        margin-left: 454px;
    }
}

@media screen and (max-width: 550px) {
    .button_type_exit-preview {
        margin-left: 402px;
    }
}

@media screen and (max-width: 500px) {
    .button_type_exit-preview {
        margin-left: 246px;
        margin-bottom: 0px;
    }
}