/*.button__add-profile {
    background: url(../../../images/profile__add-btn.svg);
    opacity: 1;
    display: flex;
    align-self: center;
    margin-left: 157px;
    margin-right: auto;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}

.button__add-profile:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .button__add-profile {
        width: 282px;
        margin-right: 19px;
        margin-left: 19px;
        margin-bottom: 36px;
    }
}

*/