.footer__copyright {
    margin: 68px auto 60px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .footer__copyright {
        margin-left: 19px;
        font-size: 14px;
    }
}