.elements__like-btn {
    height: 19px;
    width: 21px;
    cursor: pointer;
    transition-property: opacity;
    transition-delay: 0.08s;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    cursor: pointer;
    grid-area: like;  
    padding: 0;
    background-image: url(../../../images/like-logo.svg);
    border: none;
    background-repeat: no-repeat; 
    margin-top: 30px;
    margin-right: 15px;
}

.elements__like-btn:hover {
    opacity: 0.5;
}