.profile__name {
    max-width: 415px;
    line-height: 48px;
    font-weight: 500;
    font-size: 42px;
    margin: 0 18px 0 0;
}

@media screen and (max-width:700px) {
    .profile__name{
        margin-left: auto;
        margin-right: auto;
    }
}