                .popup__box {
                    /* width: 430px;
        border: none;
        margin: auto;*/
                    flex-direction: column;
                    justify-content: center;
                    background-color: #ffff;
                    border-radius: 10px;
                    position: relative;
                    width: 100%;
                    max-width: 430px;
                }
                
                @media screen and (max-width:510px) {
                    .popup__box {
                        max-width: 282px;
                    }
                }