.popup__box{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 195px;
    left: 40px;
    right: 40px;
    width: 430px;
    height: 330px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    border-radius: 10px;
    margin: auto;
}