.popup__exit{
    position: absolute;
    border: none;
    background-color: unset;
    background-size: COVER;
    width: 40px;
    height: 40px;
    padding: 0;
    right: -40px;
    top: -40px;
    cursor: pointer;
    border: none;
    
}