.grid-elements {
    display: grid;
    width: 100%;
    margin: 50px auto 0;
    padding: 0;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    gap: 20px 17px;
}